<h1>Doctor Show Page</h1>

<p>Name: <%= @doctor.name %></p>
<p>Speciality: <%= @doctor.specialty %></p>
<p>Speciality: <%= @doctor.university %></p>


<p>Hospital: <%=@doctor.hospital.name  %></p>

<h3>Patients</h3>
<ul>
  <% @doctor.patients.each do |patient| %>
    <li id="patient-<%=patient.id%>">
      <%= patient.name %>  <%= button_to "Remove #{patient.name}", doctor_patient_path(@doctor, patient), method: :delete %>
    </li>
  <% end %>
</ul>